/* css */

img {
  width: 40px;
  height: 40px;
}
html {
  background: #fff;
}

div{
    color: #fff;
}
p{
    display: inline-block;
}
.popup-body {
  display: flex;
  background: #0b1410;
  height: 80px;
  width: 100px;
  align-items: center;
  justify-content: center;
}

.popup-header{
    text-align: center;
    font-size: 10px;
}
#content-area{
    display: flex;
    font-size: 8px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    
}